<html>

<head>
    <meta charset="UTF-8">
    <title>Logger</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.2/jsgrid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.2/jsgrid-theme.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css" />
    <style>
       
    </style>
</head>

<body>
    <div class="container">
        <div class="row" id="loggerControl">
            <div class="col-md-3">
                <h2> {{ company }}</h2>
                <div class="form-group">
                    <label for="campaignEvent">Campaign</label>
                    <select class="form-control" id="campaignEvent">
                        <option value="">{{ }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="action">Action</label>
                    <select class="form-control" id="action">
                        <option value="">{{ }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="eventStart">Starting</label>
                    <select class="form-control" id="eventStart">
                        <option value="">{{ }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="period">Period</label>
                    <select class="form-control" id="period">
                        <option value="">{{ }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-9">
                <p>{{ company }} Event: {{ campaignDate }}</p>
                <p>From <span>{{ startDate }}</span> to <span>{{ endDate }}</span></p>
                <div id="jsGrid"></div>
            </div>
            
                

            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
              
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                    <div class="modal-body">
                        <div id="jqTree"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
            
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.2/jsgrid.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="gridController.js"></script>
    <script>
      
        var callCount = 0;
        
        function getGridParams() {
            callCount = 0;
            $("#jsGrid").jsGrid("loadData");
        }
        
        $("#submitButton").click(function() {
            getGridParams();
        });
        
        $(document).keypress(function(event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                getGridParams();
            }
        });
        
        $("#dateFrom").datepicker().on("change", function(){
            var dateValueFrom = $( "#dateFrom" ).datepicker( "getDate" );
            var dateValueTo = $( "#dateTo" ).datepicker( "getDate" );
          
            dateCompare(dateValueFrom, dateValueTo, "from");
        });
        $("#dateTo").datepicker().on("change", function(){
            var dateValueFrom = $( "#dateFrom" ).datepicker( "getDate" );
            var dateValueTo = $( "#dateTo" ).datepicker( "getDate" );
          
            dateCompare(dateValueFrom, dateValueTo, "to");
        });
        
        function dateCompare(date1, date2, which) {

            if (date1 === null || date2 === null){                
                if (date1 === null) {
                    $( "#dateFrom" ).datepicker( "setDate", date1 );
                } else {
                    $( "#dateTo" ).datepicker( "setDate", date2 );
                }
            }
            
            else if (date1 > date2 && which === "from") {
                $( "#dateTo" ).datepicker( "setDate", date1 );
            }
            
            else if (date1 > date2 && which === "to") {
                $( "#dateFrom" ).datepicker( "setDate", date2 );
            }
        }
        
    </script>
    <script>
        var vm = new Vue({
            el: "#loggerControl",
            data: {
                campaign: "",
                company: "",
                campaignDate: "",
                startDate: "",
                endDate: ""
            }
        });
    </script>
    <script>
        
        $(function() {

            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",
                sorting: true,
                paging: false,
                autoload: false,
                editing: false,
                controller: gridController,
                onDataLoaded: function() {

                    $("#jsGrid").jsGrid("render");
                },
                rowClick: function(item) {

                    var itemID = item.item.id;
                    showPreview(itemID);
                },
                fields: [],
            });

        });
        
        showPreview = function(rowID){

            $.ajax({
                type: "POST",
                url: endpoint + "id/" + rowID,
                dataType: "json",
                success: function(data) {
 
                    if (data.data.body) {
                        $("#jqTree").JSONView(data.data.body, { collapsed: false });
                        $(".modal-title").html(rowID);
                        $("#myModal").modal();
                    } else {
                        $(".modal-title").html("Could not find data ");
                        $("#myModal").modal();
                    }
                }
            });  
        };
        
    </script>
</body>

</html>